name: 04 build action
on: push

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Print folders
        run: |
          echo "Printing folders:"
          ls -laR