name: 05 1 Event Filters and Activities
on:
  workflow_dispatch:
  

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: echo "This workflow triggers on opening or synchronizing a PR to the main branch"
